.rg .item-0
{
	border-color: #393b79;
	stroke: #393b79;
	fill: #393b79;
}

.rg .item-1
{
	border-color: #5254a3;
	stroke: #5254a3;
	fill: #5254a3;
}


.rg .item-2
{
	border-color: #6b6ecf;
	stroke: #6b6ecf;
	fill: #6b6ecf;
}

.rg .item-3
{
	border-color: #9c9ede;
	stroke: #9c9ede;
	fill: #9c9ede;
}

.rg .item-4
{
	border-color: #637939;
	stroke: #637939;
	fill: #637939;
}
	
.rg .item-5
{
	border-color: #8ca252;
	stroke: #8ca252;
	fill: #8ca252;
}
	
.rg .item-6
{
	border-color: #b5cf6b;
	stroke: #b5cf6b;
	fill: #b5cf6b;
}
	
.rg .item-7
{
	border-color: #cedb9c;
	stroke: #cedb9c;
	fill: #cedb9c;
}
	
.rg .item-8
{
	border-color: #8c6d31;
	stroke: #8c6d31;
	fill: #8c6d31;
}
	
.rg .item-9
{
	border-color: #bd9e39;
	stroke: #bd9e39;
	fill: #bd9e39;
}
	
.rg .item-10
{
	border-color: #e7ba52;
	stroke: #e7ba52;
	fill: #e7ba52;
}
	
.rg .item-11
{
	border-color: #e7cb94;
	stroke: #e7cb94;
	fill: #e7cb94;
}
	
.rg .item-12
{
	border-color: #843c39;
	stroke: #843c39;
	fill: #843c39;
}
	
.rg .item-13
{
	border-color: #ad494a;
	stroke: #ad494a;
	fill: #ad494a;
}
	
.rg .item-14
{
	border-color: #d6616b;
	stroke: #d6616b;
	fill: #d6616b;
}
	
.rg .item-15
{
	border-color: #e7969c;
	stroke: #e7969c;
	fill: #e7969c;
}

.rg .item-16
{
	border-color: #7b4173;
	stroke: #7b4173;
	fill: #7b4173;
}

.rg .item-17
{
	border-color: #a55194;
	stroke: #a55194;
	fill: #a55194;
}

.rg .item-18
{
	border-color: #ce6dbd;
	stroke: #ce6dbd;
	fill: #ce6dbd;
}

.rg .item-19
{
	border-color: #de9ed6;
	stroke: #de9ed6;
	fill: #de9ed6;
}