.rg .item-0, .rg .item-20
{
	border-color: #1f77b4;
	stroke: #1f77b4;
	fill: #1f77b4;
}

.rg .item-1, .rg .item-21
{
	border-color: #aec7e8;
	stroke: #aec7e8;
	fill: #aec7e8;
}

.rg .item-2, .rg .item-22
{
	border-color: #ff7f0e;
	stroke: #ff7f0e;
	fill: #ff7f0e;
}

.rg .item-3, .rg .item-23
{
	border-color: #ffbb78;
	stroke: #ffbb78;
	fill: #ffbb78;
}

.rg .item-4, .rg .item-24
{
	border-color: #2ca02c;
	stroke: #2ca02c;
	fill: #2ca02c;
}
	
.rg .item-5, .rg .item-25
{
	border-color: #98df8a;
	stroke: #98df8a;
	fill: #98df8a;
}
	
.rg .item-6, .rg .item-26
{
	border-color: #d62728;
	stroke: #d62728;
	fill: #d62728;
}
	
.rg .item-7, .rg .item-27
{
	border-color: #ff9896;
	stroke: #ff9896;
	fill: #ff9896;
}
	
.rg .item-8, .rg .item-28
{
	border-color: #9467bd;
	stroke: #9467bd;
	fill: #9467bd;
}
	
.rg .item-9, .rg .item-29
{
	border-color: #c5b0d5;
	stroke: #c5b0d5;
	fill: #c5b0d5;
}
	
.rg .item-10, .rg .item-30
{
	border-color: #8c564b;
	stroke: #8c564b;
	fill: #8c564b;
}
	
.rg .item-11, .rg .item-31
{
	border-color: #c49c94;
	stroke: #c49c94;
	fill: #c49c94;
}
	
.rg .item-12, .rg .item-32
{
	border-color: #e377c2;
	stroke: #e377c2;
	fill: #e377c2;
}
	
.rg .item-13, .rg .item-33
{
	border-color: #f7b6d2;
	stroke: #f7b6d2;
	fill: #f7b6d2;
}
	
.rg .item-14, .rg .item-34
{
	border-color: #7f7f7f;
	stroke: #7f7f7f;
	fill: #7f7f7f;
}
	
.rg .item-15, .rg .item-35
{
	border-color: #c7c7c7;
	stroke: #c7c7c7;
	fill: #c7c7c7;
}

.rg .item-16, .rg .item-36
{
	border-color: #bcbd22;
	stroke: #bcbd22;
	fill: #bcbd22;
}

.rg .item-17, .rg .item-37
{
	border-color: #dbdb8d;
	stroke: #dbdb8d;
	fill: #dbdb8d;
}

.rg .item-18, .rg .item-38
{
	border-color: #17becf;
	stroke: #17becf;
	fill: #17becf;
}

.rg .item-19, .rg .item-39
{
	border-color: #9edae5;
	stroke: #9edae5;
	fill: #9edae5;
}