.rg .item-0, .rg .item-1, .rg .item-2, .rg .item-3, .rg .item-4, .rg .item-5, .rg .item-6, .rg .item-7, .rg .item-8, .rg .item-9, .rg .item-10, .rg .item-11, .rg .item-12, .rg .item-13, .rg .item-14, .rg .item-15, .rg .item-16, .rg .item-17, .rg .item-18, .rg .item-19
{
	border-color: #BC3131;
	stroke: #BC3131;
	fill: #BC3131;
}