.rg .item-0
{
	border-color: #3182bd;
	stroke: #3182bd;
	fill: #3182bd;
}

.rg .item-1
{
	border-color: #6baed6;
	stroke: #6baed6;
	fill: #6baed6;
}


.rg .item-2
{
	border-color: #9ecae1;
	stroke: #9ecae1;
	fill: #9ecae1;
}

.rg .item-3
{
	border-color: #c6dbef;
	stroke: #c6dbef;
	fill: #c6dbef;
}

.rg .item-4
{
	border-color: #e6550d;
	stroke: #e6550d;
	fill: #e6550d;
}
	
.rg .item-5
{
	border-color: #fd8d3c;
	stroke: #fd8d3c;
	fill: #fd8d3c;
}
	
.rg .item-6
{
	border-color: #fdae6b;
	stroke: #fdae6b;
	fill: #fdae6b;
}
	
.rg .item-7
{
	border-color: #fdd0a2;
	stroke: #fdd0a2;
	fill: #fdd0a2;
}
	
.rg .item-8
{
	border-color: #31a354;
	stroke: #31a354;
	fill: #31a354;
}
	
.rg .item-9
{
	border-color: #74c476;
	stroke: #74c476;
	fill: #74c476;
}
	
.rg .item-10
{
	border-color: #a1d99b;
	stroke: #a1d99b;
	fill: #a1d99b;
}
	
.rg .item-11
{
	border-color: #c7e9c0;
	stroke: #c7e9c0;
	fill: #c7e9c0;
}
	
.rg .item-12
{
	border-color: #756bb1;
	stroke: #756bb1;
	fill: #756bb1;
}
	
.rg .item-13
{
	border-color: #9e9ac8;
	stroke: #9e9ac8;
	fill: #9e9ac8;
}
	
.rg .item-14
{
	border-color: #bcbddc;
	stroke: #bcbddc;
	fill: #bcbddc;
}
	
.rg .item-15
{
	border-color: #dadaeb;
	stroke: #dadaeb;
	fill: #dadaeb;
}

.rg .item-16
{
	border-color: #636363;
	stroke: #636363;
	fill: #636363;
}

.rg .item-17
{
	border-color: #969696;
	stroke: #969696;
	fill: #969696;
}

.rg .item-18
{
	border-color: #bdbdbd;
	stroke: #bdbdbd;
	fill: #bdbdbd;
}

.rg .item-19
{
	border-color: #d9d9d9;
	stroke: #d9d9d9;
	fill: #d9d9d9;
}