.rg .stroke-0, .rg .stroke-7, .rg .stroke-14, .rg .stroke-21, .rg .stroke-28
{
border-color: #A9CCFE; stroke: #A9CCFE;
}

.rg .fill-0, .rg .fill-7, .rg .fill-14, .rg .fill-21, .rg .fill-28
{
background-color: #A9CCFE; fill: #A9CCFE;
}

.rg .stroke-1, .rg .stroke-8, .rg .stroke-15, .rg .stroke-22, .rg .stroke-29
{
border-color: #4B80CB; stroke: #4B80CB;
}

.rg .fill-1, .rg .fill-8, .rg .fill-15, .rg .fill-22, .rg .fill-29
{
background-color: #4B80CB; fill: #4B80CB;
}

.rg .stroke-2, .rg .stroke-9, .rg .stroke-16, .rg .stroke-23, .rg .stroke-30
{
border-color: #B3FF78; stroke: #B3FF78;
}

.rg .fill-2, .rg .fill-9, .rg .fill-16, .rg .fill-23, .rg .fill-30
{
background-color: #B3FF78; fill: #B3FF78;
}

.rg .stroke-3, .rg .stroke-10, .rg .stroke-17, .rg .stroke-24, .rg .stroke-31
{
border-color: #E4E4E4; stroke: #E4E4E4;
}

.rg .fill-3, .rg .fill-10, .rg .fill-17, .rg .fill-24, .rg .fill-31
{
background-color: #E4E4E4; fill: #E4E4E4;
}

.rg .stroke-4, .rg .stroke-11, .rg .stroke-18, .rg .stroke-25
{
border-color: #979797; stroke: #979797;
}

.rg .fill-4, .rg .fill-11, .rg .fill-18, .rg .fill-25
{
background-color: #979797; fill: #979797;
}

.rg .stroke-5, .rg .stroke-12, .rg .stroke-19, .rg .stroke-26
{
border-color: #275597; stroke: #275597;
}

.rg .fill-5, .rg .fill-12, .rg .fill-19, .rg .fill-26
{
background-color: #275597; fill: #275597;
}

.rg .stroke-6, .rg .stroke-13, .rg .stroke-20, .rg .stroke-27
{
border-color: #475364; stroke: #475364;
}

.rg .fill-6, .rg .fill-13, .rg .fill-20, .rg .fill-27
{
background-color: #475364; fill: #475364;
}

