/*
:Author: ReportGrid
:Contact: ReportGrid.com
:Copyright: ReportGrid
*/

@import url(html4css1.css);

@import url(http://fonts.googleapis.com/css?family=Abel);

    @font-face {
        font-family: 'RexliaFree';
        src: url('fonts/rexlia_free-webfont.eot');
        src: url('fonts/rexlia_free-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/rexlia_free-webfont.woff') format('woff'),
             url('fonts/rexlia_free-webfont.ttf') format('truetype'),
             url('fonts/rexlia_free-webfont.svg#RexliaFree') format('svg');
        font-weight: normal;
        font-style: normal;
    
    }
 
body {
	background-color: #000;
}

.wrapper {
margin:auto;
  width: 1024px;
}

.docTitle {
	
	text-align:center;
	font-family:'Abel',sans-serif;
}

.header {
	padding-left:100px;
	background-repeat:no-repeat;
	background-image: url("../images/rg_100x1024_header.png");
  	height:100px;
}


.mainContent {
min-height:600px;
 text-align:left;
 background-color:#1F2126;
 padding: 0px 50px
 }

.footer {
	padding:1em 100px;
	color:#FFF;
	min-height:100px;
	text-align:center;
	background-repeat:no-repeat;
	background-image: url("../images/rg_100x1024_footer.png");
}


.documentation{
	padding:1.5em;
	width:924px;
	margin:auto;
	font-family:Veranda, Arial, Helvetica, sans-serif;
	color:#666;
	background-color:#f9f9f9;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}

.contentWhiteBG {
	background-color:#FFF;
	border-radius:0.25em;
	-moz-border-radius:0.25em;
	padding:2em;
	min-height:600px;
	}

.demos li
{	
	height:20px;
	width: 74px;
	overflow:hidden;
	padding-top:1em;
	float:left;
	text-align:center;
	margin-right:2px;
	-moz-border-radius-bottomright:.25em;
	-moz-border-radius-bottomleft:.25em;
	border-bottom-right-radius:.25em;
	border-bottom-left-radius:.25em;
}

.demos li a
{
	
	height: 20px;
	padding: 2px 10px 0 10px;
	vertical-align: center;
	color: #999;
	font-size: 90%;
	font-weight:bold;


}

.demos li a:hover
{
	color:#09F;
}

a {
	color:#09F;
	text-decoration:none;
}





ol.simple li, ul.simple li {
	list-style-type:circle;
}


table.docutils caption {
	font-size:90%;
	font-weight:bold;
	color:#666;
	
}

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
  border: none }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important;
  font-weight:normal;
	color:#555;
padding:0px 1.25px 0.313 1.25em;
}

.hidden {
  display: none }

a.toc-backref {
  text-decoration: none ;
  font-size:85%;
  color:#666;
  }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

 Uncomment (and remove this text!) to get bold-faced definition list terms
dl.docutils dt {
  font-weight: bold }

div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }


div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color:#1F2126 ;
  width:25% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
	  margin-top: 1em }

.section {
margin:1.875em;
}

h1 {
	padding:0.313 0.625em;
}

.contents-topic {
}


h1.title {
padding:1.25em;
  text-align:center ;
  font-size:2.5em;
  color:#FFF;	
  }
  
h2,h3,h4 {
	padding:0.313 0.625em;
	border-bottom:solid 1px #CCC;
}

h2.subtitle {
  text-align: left;
   }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: left }

/* div.align-center * { */
/*   text-align: left } */

ol.simple, ul.simple {
  margin-bottom: 1em;
  line-height:1.75em;
  color:#555;
  font-weight:bold;

   }
  
ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
	font-size:100%;
  font-weight: bold;
  color:#666 }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit }

pre.literal-block, pre.doctest-block {
font-size:93%;
line-height:1em;
color:#555;
  padding:0.625em;
  margin-left:1.25em;
  border-bottom:1px thin #ccc;
  border-top:1px thin #ccc;
  }
  

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
	
  white-space: pre }

span.problematic {
  color: red }

span.section-subtitle {
  /* font-size relative to parent (
  ..h6 element) */
  font-size:80%;
   }

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin: 1.25em 0;
  border:solid 1px #aaa;
  border-collapse:collapse;
 }

table.footnote {
  border: solid 1px #666;
  margin-left: 1px;
   }

table.docutils td:first-child { 
	color:#333;
	font-weight:bold;
	font-size:100%;
	font-style:italic;
		 }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
color:#555;
  padding: 0.5em 0.5em ;
  vertical-align:middle;
 border-bottom:solid 1px #888;
 border-right:solid 1px #888;
  background-color:#F9F9F9;
  padding:0.313em;
  }

table.docutils th.field-name, table.docinfo th.docinfo-name {
	font-weight:bold;
  text-align: left ;
  white-space: nowrap ;
  color:#888;
  }

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 80%; 
  color:#666 }


