* {
  margin:           0px;
  padding:          0px;
  border:           0px;
  list-style-type:  none;
  text-decoration:  none;
  position:         relative;
  color: white;
  font-family: arial;
  outline: none;
}

body {
  background-color: 0E0F12;
}

@import url(http://fonts.googleapis.com/css?family=Abel);

@import url(http://fonts.googleapis.com/css?family=Questrial);

@import url(http://fonts.googleapis.com/css?family=Antic);

@font-face {
    font-family: 'Rexlia';
    src: url('fonts/rexlia_free-webfont.eot');
    src: url('fonts/rexlia_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rexlia_free-webfont.woff') format('woff'),
         url('fonts/rexlia_free-webfont.ttf') format('truetype'),
         url('fonts/rexlia_free-webfont.svg#RexliaFree') format('svg');
    font-weight: normal;
    font-style: normal;
}

A:link{color: #A8AECC;text-decoration:none}

A:visited{color: #A8AECC;text-decoration:none}

A:hover {
    opacity: 0.7;
}

p {
  font-size:11px;
  font-family:Abel;
  color: #8A8FA8;
  line-height: normal;
  padding-bottom:12px;
  }

p.pageheader {
  font-size:20px;
  font-family:Abel;
  color: #8A8FA8;
  line-height: normal;
  padding-bottom:12px;
}

p.rightpaneltext {
  font-size:16px;
  font-family:Abel;
  color: #8A8FA8;
  line-height: normal;
  padding-bottom:0px;
}

p.teamtext {
  font-size:12px;
  font-family:Abel;
  color: #8A8FA8;
  padding-bottom:0px;
  padding-top:0px;
  }
  
p.phonelarge {
  font-size:26px;
  font-family:Abel;
  color: #8A8FA8;
  line-height: normal;
  padding-bottom:0px;
}

p.micro {
  font-size:8px;
  font-family:Abel;
  color: #8A8FA8;
  line-height: normal;
  padding-bottom:0px;
}

h1{
    font-size:16px;
    font-family:Abel;
    font-weight:normal;
    color: #8A8FA8;
    list-style-type:  none;
    text-decoration:  none;
    padding-top: 30px;
    padding-bottom: 24px;
}

h2 {
    font-size:11px;
    font-family:Rexlia;
    font-weight:normal;
    color: #ffffff;
    list-style-type:  none;
    text-decoration:  none;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2.analyticsdb {
    font-size:11px;
    font-family:Rexlia;
    font-weight:normal;
    color: #ffffff;
    list-style-type:  none;
    text-decoration:  none;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    font-size:16px;
    font-family:Abel;
    font-weight:normal;
    color: #8A8FA8;
    list-style-type:  none;
    text-decoration:  none;
    padding-top: 10px;
    padding-bottom: 24px;
}

h4 {
  font-size:16px;
  font-family:Abel;
  color: #8A8FA8;
  line-height: normal;
}

#wrapper {
  margin: 0 auto;
  width: 1070px;
  background: 999999;
}

#wrapper .header {
  position: relative;
  height:110px;
  width: 1070px;
  background-color: #292930;
}

#wrapper .middle {
  position: relative;
  width: 1070px;
  float:left;
  background-color: #1A1B20;
}

#wrapper .footer {
  position: relative;
  width: 1070px;
  height: 130px;
  background-color: #141417;
  float:left;
}

#headerlogo {
  position:relative;
  top:40px;
  left:46px;
}

#loginbutton {
  position:absolute;
  top:48px;
  float:right;
  right:58px;
}

.rgform {
  margin-bottom: 40px;float:left;
}

.imageleft {
  position:relative;
  float:left;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
}

.imageright {
  position:relative; 
  float:right;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
}

.floatleft {
  float:left;
}

.floatright {
  float:right;
}

/*headernavmenubegin */
    #navcontainer {
        position: absolute;
        top:50px;
        left:328px;
        font-size: 10pt;
        font-family:Antic;
        z-index: 100;
    }

    ul#navlist {
    font-family:Antic;
    color: #ffffff;
    padding: 10px;
    }

    ul#navlist a
    {
    text-decoration: none;
    font-family:Questrial;
    }

    ul#navlist, ul#navlist ul, ul#navlist li
    {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    }

    ul#navlist li { float: left; }

    ul#navlist li a
    {
    color: #ffffff;
    padding: 10px;
    }

    ul#navlist li:hover a
    {
    color: #;
    background-color: #3E3E47;
    opacity: 0.9;
    }

    ul#navlist li a:hover
    {
    color: #ffcc33;
    background-color: #3E3E47;
    opacity: 0.9;
    }

    ul#navlist li a:active
    {
    color: #000000;
    background-color: #3E3E47;
    padding:10px;
    }

    ul#subnavlist { display: none; }
    ul#subnavlist li { float: none; }

    ul#subnavlist li a
    {
    padding: 0px;
    margin: 0px;
    color: ACB5D4;
    background-color: #3E3E47;
    }

    ul#navlist li:hover ul#subnavlist
    {
    display: block;
    position: absolute;
    font-size: 9pt;
    padding-top: 10px;
    }

    ul#navlist li:hover ul#subnavlist li a
    {
    display: block;
    width: 10em;
    border: none;
    border-left: 2px;
    padding: 10px;
    opacity: 0.9;
    }

    ul#navlist li:hover ul#subnavlist li a:before { content: ""; }
/*headernavmenuend */

#rightsidepanel {
    background-image: url(../images/rpagepannel.png);
    position:relative;
    top: 74px;
    height: 299px;
    }

#rpaneltext {
    position: relative;
    top: 20px;
    width: 140px;
    left:30px;
    }


#rightlist {
  width:130px;
}

#rightlist li {
    position: relative;
    list-style-type: square;
    color: #9FA5C2;
    font-size: 8pt;
    margin-bottom: 10px;
    top: 20px;
    left:20px;
    }

#leftpanel {
   width:196px;
   padding-right:41px;
   float:left;
}

#pagetitle {
  top:28px;
  position: absolute;
  text-align:right;
  right: 39px;
}

#middlecontent {
   width:600px;
   padding-right:41px;
   float:left;
   padding-bottom:20px;
}

.limiddle {
  list-style-type: square;
  color: #8A8FA8;
  top:10px;
  margin-left:20px;
}

#rightpanel {
  width:192px;
  float:left;
  height:400px;
}

/*about*/
.aboutlogo {
  float:left;
  top:20px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:40px;
}
/*about*/

/*analyticsdatabase*/
#adleftpanel {
  width:280px;
  padding-right:40px;
  float:left;
}

#adrightpanel {
  width:280px;
  float:left;
}
/*analyticsdatabase*/

/*solutions*/
#solutionscards {
    background-image: url(../images/solutionscards.png);
    height:136px;
    width:600px;
}

.cards {
    width:140px;
    float:left;
    padding-left:160px;
}
/*solutions*/

/*console*/
#console {
    height:240px;
    width:600px;
    background-color: #141417;
}

#output {
    height:180px;
    width:600px;
    background-color: #141417;
    margin-bottom:20px;
}

#inputconsole {
  background-color: transparent;
  margin-left:5px;
  margin-top:200px;
  font-family:courier;
  width:595px;
}
/*console*/

/*consolemenubegin*/
#conlist
    {
    color:white;
    background-color: transparent;
    width: 116px;
    height: 23px;
    background-image: url(../images/consoleexamples.png);
    }


#conlist:hover {
    opacity: 0.7;
}

#active1:hover li { display: block; }
#active1 li { display: none; }

#concontainer
{
    width: 100px;
    background-color: transparent;
    float:left;
}

#concontainer a
{
    color: ffcc33;
    font-family:abel;
    width: 120px;
    display: block;
    height:23px;
    font-size:12px;
    padding-left:8px;
    padding-top:2px;
}
/*consolemenuend*/

/*contactus*/
.indicates-required {
        left: 200px;
        font-family: abel;
        font-size: 11px;
}

    #mergeTable {
        top: 10px;
        width: 600px;
        font-family: abel;
        font-size: 11px;
}

    .field-group input {
        border: 0 none;
        display: block;
        padding: 4px;
        width: 40%
}

    .field-group {
        border-style: solid;
        margin: 3px 0 10px;
}

#map {
    position:absolute;
    top: 40px;
    float: right;
    right: 40px;
}

/*contactus*/

/*pricing*/
#devsticker {
    position: absolute;
    top: 240px;
    left: 30px;
}
/*pricing*/

/*professionalservices*/
.cardfooter {
    background-image: url(../images/cardfooter.png);
    height:69px;
    width:170px;
    }

#packages {
    background-image: url(../images/packages.png);
    height:255px;
    width:600px;
}

.package {
    height:255px;
    float:left;
    width:200px;
}
/*professionalservices*/

/*signup*/
#signupform {
    font-family:abel;
    color: #8a8fa8;
}

#Planidstarter {
    position: relative;
    float:left;
    top: -24px;
    left: 70px;
}

.leftfields {
    position:relative;
    width:300px;
    display:block;
    float:left;
}

.rightfields {
    position:relative;
    width:300px;
    display:block;
    float:left;
    top:47px;
}

.rightfields2 {
    position:relative;
    width:300px;
    display:block;
    float:left;
}

.fieldgroup {
}

.fieldgroup input{
    width:75%;
    height:20px;
    color: #000000:
}
/*signup*/

/*controlpanel*/
#update {
        background-image: url(../images/updateinfobutton.png);
        background-color: transparent;
        top: 20px;
        height: 28px;
        width: 133px;
        float:right;
        right:74px;
        padding-bottom:20px;
}

#update:hover {
    opacity: 0.7;
}
/*controlpanel*/

/*signup*/
#submit {
        background-image: url(../images/submitbutton.png);
        background-color: transparent;
        top: 20px;
        height: 28px;
        width: 133px;
        float:left;
}

#submit:hover {
    opacity: 0.7;
}
/*signup*/

/*underconstruction*/
    #cb {
        background-image: url(../images/constructionbar.png);
        width:1070px;
        height: 29px;
        top:60px;
    }
        
    #cb2 {
        background-image: url(../images/constructionbar.png);
        width:1070px;
        height: 29px;
        top:300px;
    }
/*underconstruction*/

/*visualizationengine*/
#leftarrow {
    position:relative;
    background-image: url(../images/visengleftarrow.png);
    display: block;
    float:left;
    height:193px;
    width:30px;
    margin-top:73px;
}

#leftarrow:hover{
    background-position: 0 -193px;
}

#gallerybackground {
    height:340px;
    width:488px;
    float:left;
    margin-left:25px;
    margin-right:25px;
    margin-bottom: 20px;
    background-color: #000000;
}

#rightarrow {
    position:relative;
    background-image: url(../images/visengrightarrow.png);
    display: block;
    float:left;
    height:193px;
    width:30px;
    margin-top:73px;
}

#rightarrow:hover{
    background-position: 0 -193px;
}
/*visualizationengine*/

/*team*/
.personhover:hover {
  opacity: 0.0;
}

#teambox {
  position:relative;
  height:620px;
}
/*team*/


/*middlenavmenubegin*/
    #leftmenucontainer {
    top: 74px;
    position: relative;
    }

    #leftmenucontainer ul
    {
    list-style-type: none;
    }

    #leftmenucontainer li {
    margin: 0 0 1px 0;
    }

    #leftmenucontainer a
    {
    background-image: url(../images/lsnavbuttonlg.png);
    width: 141px;
    margin-top: 3px;
    display: block;
    padding: 13px 28px;
    color: #C7CEF2;
    text-decoration: none;
    font-family:Abel;
    }

    #leftmenucontainer a:hover
    {
    color: #ffcc33;
    text-decoration: none;
    opacity: 0.7;
    }

    #leftmenucontainer ul ul li {
    margin-top: 2px;
    font-size: 10pt;
    }

    #leftmenucontainer ul ul a
    {
    display: block;
    padding: 2px 5px 2px 30px;
    width: 162px;
    background-image: url(../images/lsnavbuttonsm.png);
    }

    #leftmenucontainer ul ul a:hover
    {
    text-decoration: none;
    opacity: 0.7;
    }
/*middlenavmenuend*/

/*footernavmenubegin */
#sitecontainer {
    position:relative;
    z-index: 100;
    left:47px;
    top:28px;
    }

    ul#sitelist
    {
    list-style-type: none;
    position: relative;
    }

    ul#sitelist li {
        float: left;
        margin-left: 0px;
        }

    ul#sitelist li a
    {
    float: left;
    text-align: left;
    padding-right: 74px;
    font-family:Questrial; font-size: 7pt;
    color: #545766;
    line-height: 18px;
    margin: 0;
    }

    ul#sitelist li a:hover
    {
    color: #FFCD36;
    }

    ul#sitelist li a.current
    {
    color: #707487;
    font-size: 7.5pt;
    }

    /*subsitelist */
    ul#subsitelist li
    {
    line-height: 18px;
    width: 15em;
    }

    ul#sitelist ul
    {
    position: absolute;
    top: 20px;
    }

    ul#sitelist ul li a, ul#sitelist ul li a:hover, ul#sitelist ul li a.current { background-image: none; }
/*footernavmenuend */

#phonefooter {
  position:absolute;
  top:28px;
  left:778px;
  letter-spacing:5px;
  font-size:26px;
}

#termsprivacy {
  position:absolute;
  top:90px;
  left:778px;
  length: 120;
}

#contactus {
    position: absolute;
    top: 86px;
    left: 932px;
}

#facebook {
    position: absolute;
    top: 86px;
    left: 958px;
}

#twitter {
    position: absolute;
    top: 86px;
    left: 984px;
}