* {
    border: 0;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    color: #ffffff;
    font-family: arial;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    text-align: center;
}
@font-face {
    font-family: 'Abel';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/abel-regular-webfont.woff') format('woff'), url('fonts/abel-regular-webfont.ttf') format('truetype'), url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questrial';
    src: url('fonts/questrial-regular-webfont.eot');
    src: url('fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/questrial-regular-webfont.woff') format('woff'), url('fonts/questrial-regular-webfont.ttf') format('truetype'), url('fonts/questrial-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Antic';
    src: url('fonts/antic-regular-webfont.eot');
    src: url('fonts/antic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/antic-regular-webfont.woff') format('woff'), url('fonts/antic-regular-webfont.ttf') format('truetype'), url('fonts/antic-regular-webfont.svg#AnticRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rexlia';
    src: url('fonts/rexlia_free-webfont.eot');
    src: url('fonts/rexlia_free-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/rexlia_free-webfont.woff') format('woff'), url('fonts/rexlia_free-webfont.ttf') format('truetype'), url('fonts/rexlia_free-webfont.svg#RexliaFree') format('svg');
    font-weight: normal;
    font-style: normal;
}
P {
    font-size: 16px;
    font-family: Abel;
    color: #333333;
    line-height: normal;
}

strong {
    font-size: 16px;
    font-family: Abel;
    color: #4D4D4D;
    line-height: normal;
}

h1 {
    font-size: 18pt;
    font-family: Abel;
    color: #3895C7;
    line-height: normal;
    font-weight: normal;
    padding-bottom: 10px;
}

/*HEADER*/

#header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 65px;
    background-color: #000000;
    text-align: left;
}

.header-sub {
    width: 936px;
    margin-left: auto;
    margin-right: auto;
}

#header-logo {
    top: 19px;
}

#header-navbar {
    float:right;
}

#header-navbar li {
    font-family: questrial;
    font-size: 10pt;
    display: inline;
    margin-left: 20px;
    height: 36px;
}

#header-navbar a:hover, #header-navbar a.active {
    color: #60B2DC;
}

#header-precog {
    top: 65px;
    position: absolute;
    width: 200px;
    background-color: #262626;
    z-index: 200;
    width: 100%;
    height: 20px;
    text-align: left;
    padding-top: 4px;
    display: block;
    cursor: pointer;
}

#header-precog p {
    font-family: questrial;
    font-size: 10pt;
    color: #fff;
}

#header-precog a {
    color: #FF0000;
    text-decoration: underline;
}

#precog-logo {
    background-image: url("../images/precog-logo.png");
    width: 75px;
    height: 13px;
    float: right;
    top: -12px;
}

#header-precog-close {
    width: 10px;
    height: 11px;
    right: 0px;
    position: absolute;
    padding-right: 8px;
    top: 68px;
    cursor: pointer;
    z-index: 210;
}

/*HEADEREND*/

/*BODY*/
#page-body {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 25px;
    background-image: url("../images/grainbackground.gif");
    text-align: left;
}

.section>h2>a {
    padding-top: 60px;
}

.terms-pricing-text {
    width: 420px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-bottom: 20px;
}

#body-text {
    width: 936px;
    margin-right: auto;
    margin-left: auto;
}

#body-text h1 {
    font-size: 20pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

#body-text h2 {
    color: #3895C7;
    font-size: 14pt;
    font-family: questrial;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: normal;
}

#body-text h3 {
    color: #000;
    font-size: 14pt;
    font-family: questrial;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: normal;
}

#body-text p {
    font-family: helvetica;
    font-weight: lighter;
    line-height: 1.2;
    padding-bottom: 10px;
}

#body-text ul {
    padding-top: 20px;
}

#body-text ul li {
    list-style-type: square;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 20px;
    color: #000;
}

#body-text ul li p{
    color: #000;
}

/*API DOCUMENTATION*/
#api-documentation-page {
    width: 936px;
    margin-right: auto;
    margin-left: auto;
}

#api-menu {
  background-color: #fff;
  float: left;
  width: 200px;
}

#api-menu h1 {
  padding-top: 40px;
  padding-left: 20px;
}

#api-menu ul {
  padding-left: 20px;
  padding-bottom: 20px;
}

#api-menu a {
  font-family: questrial;
  font-size: 10pt;
  color: #000;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: underline;
}

#api-menu a:hover {
  color: #60B2DC;
}

#apiDoc {
  float: left;
  width: 716px;
  padding-left: 20px;
}

/*BODYEND*/
/*FOOTER*/

#footer {
    position: fixed;
    width: 100%;
    background-color: #000000;
    text-align: left;
    bottom: 0px;
}

#footer-sub {
    width: 936px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

#copyrights {
    position: absolute;
    right: 0px;
}

#copyrights p{
    font-size: 10pt;
    color: #fff;
    text-align: right;
}

#phone {
    position: absolute;
}

#phone p{
    color: #3895C7;
    text-align: right;
}

#termsprivacy {
    position: absolute;
    left: 110px;
}

#termsprivacy a {
    font-family: abel;
    font-size: 10pt;
    color: #fff;
}

.clear
{
    clear: left;
}
/*FOOTEREND*/